<h1><%= @user.name %>のページ</h1>
<br>
<p>メールアドレス: <%= @user.email %></p>
<!-- 追加 -->
<br>

<%= link_to "faceblogを作成する", new_blog_path, class: 'btn btn-default' %>
<br>
<br>
<p><%= link_to "ブログ一覧画面にもどる", blogs_path %></p>
